body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Button {
  border: 1px solid #c28181;

  font: inherit;
  padding: 8px;
  box-shadow: -2px 2px 15px #c28181;
  border-radius: 2rem;
  background-color: #ec9a9a;
  color: rgb(27, 21, 21);
  cursor: pointer;
  transition-duration: 0.4s;
}

.Button:hover,
.Button:active {
  box-shadow: -5px 5px 10px #c28181;
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
  background-color: #9c4747;
  color: white;
}
